*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

:root{
    /*font-size:100%; '= 16px'*/
    font-size: 62.5%; /*= 10px*/

    /*font colors*/
    --color-title:#B52184;
    --color-text-1: #312D64;
    --color-text-2: #ffffff;

    /*bg colors*/
    --bg-color-0: #ffffff;
    --bg-color-1:#F9F4FB;
    --bg-color-2: #343193;
    --bg-color-3: #302C63;
}
.container{
    display: flex;
    flex-direction: column;
}

.container main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container main > img{
    height: 50%;
    margin-bottom: 2rem;
}

.container main > h1{
    color: var(--color-title);
    font-size: 3.2rem;
    font-weight:900;
}

.container main > p{
    color: var(--color-text-1);
    font-size: 2rem;
    font-weight:600;
    margin-bottom: 4rem;
}

.container main > button{
    max-width: 5.8rem;
    min-height: 10rem;
    border-radius: 7.6rem;
    border: solid .4rem var(--color-title);
}

.content{
    height: auto;
    width: 100%;
    background: linear-gradient(to right, var(--bg-color-2), var(--bg-color-3));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0 5rem 0;
    gap: 5rem;
}

.content .box{
    width: 31.2rem;
    height: 33.7rem;
    border-radius: 1.9rem;
    background-color: var(--bg-color-0);
    padding-top: 2rem;
    padding-left: 1.5rem;
}

.content .box img{
    width: 8rem;
    height: 8rem;
}

.content .box h2{
    color: var(--color-title);
    font-size: 2.9rem;
    font-weight: 900;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

.content .box p{
    color: var(--color-text-1);
    font-size: 1.6rem;
    font-weight: 600;
    width: 26.5rem;
}

.formulario {
    width: 100%;
    height: calc(100vh - 70px);
}

.formulario form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario form fieldset{
    width: 35.0rem;
    height: 42.2rem;
    display: flex;
    flex-direction: column;
    border: none;
}

.formulario form legend{
    color: var(--color-title);
    font-weight: 900;
    font-size: 3.2rem;
    margin-bottom: 3rem;
}

.formulario form input{
    
    border: 1.5px solid var(--color-text-1);
    border-radius: 1.6rem;
    height: 5rem;
    margin: 1rem 0 1rem 0;
    padding-left: 4.5rem;
}

.formulario form #nome{
    background-image: url(img/person.png);
    background-repeat: no-repeat;
    background-position: 3%;
}
.formulario form #email{
    
    background-image: url(img/at.png);
    background-repeat: no-repeat;
    background-position: 3%;
}

.formulario form textarea{
    height: 12.6rem;
    border: 1.5px solid var(--color-text-1);
    border-radius: 1.6rem;
    margin: 1rem 0 1rem 0;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}

textarea::placeholder,
input::placeholder{
    color: var(--color-text-1);
    font-size: 1.6rem;
    font-weight: 600;
}

.formulario form button{
    width: 15.0rem;
    height: 4.5rem;
    border-radius: 1.6rem;
    border: 0;
    background: linear-gradient(to right, var(--bg-color-2), var(--bg-color-3));
    color: var(--color-text-2);
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: bold;
    margin-top: 1rem;
}
.formulario .background{
    display: none;
}

footer{
    height: 7.8rem;
    color: var(--color-text-2);
    background: linear-gradient(to right, var(--bg-color-2), var(--bg-color-3));
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.9rem;
    font-weight: 600;
}

@media(min-width: 768px){
    .container main{
       position: relative;
    }

    .container main > img{
        position: absolute;
        height: 90%;
        right: 10%;
    }

    .container main > p,
    .container main > h1{
        position: absolute;
    }

    .container main > p{
        left: 5%;
        top: 230px;
    }
    .container main > h1{
        left: 5%;
        top:190px;
    }
    
    .container main > button{
        position: absolute;
        bottom: 10%;
        left: 5%;
    }
    
    .container .content{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .formulario{
        display: flex;
        height: 100vh;
    }

    .formulario form{
        width: 50%;
        padding: 0 5%;
    }

    .formulario form fieldset{
        width:100%;
    }
    .formulario .background{
        display: block;
        width: 50%;
        height: 100%;
        background-image: url("img/background.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
}